*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}


header{
    background-image: url('images/gettyimages-1129716834.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;

}

.overlay{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(10,10,10,0.3);
}

nav{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span{
    padding: 5px;
}
li a{
    padding: 5px;
    background-color: #fff;
    text-decoration: none;;
}

.cart ion-icon{
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}

.cart a{
    background-color: pink;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.container,
.products-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.image{
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

.add-cart{
    position: absolute;
    width: 100%;
    background-color: darkgrey;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4 {
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}

/*---------cart page---------*/

.products-container{
    max-width: 100%;
    justify-content: space-around;
    margin: 10 auto;
    margin-top: 50px;
}

.products-container ion-icon{
    font-size: 25px;
    color: pink;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.product-header{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
}

.product-title{
    width: 45%;
    position: relative;
}



.total{
    margin: 10px;;
    width: 10%;
    display: flex;
    position: relative;
}

.product{
    width: 45%;
    display: flex;
    padding: 10px 0 ;
    border-bottom: 1px solid lightgrey;
}

.product ion-icon{
    cursor: pointer;
}

.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img{
    width: 200px;
}

.basketTotalContainer{
    float: right;
    display: flex;
    justify-content: flex-end;
    width: 80%;
    padding: 10px 0;
    position: relative;
    margin-left: 80%;

}

.basketTitle{
    width: 80%;
    margin-left: 75%;
    font-size: 80%;
}

.basketTotal{
    width: 10%;
    float: right;
    margin-left: 75%;
}

.basketTotalTitle{
    margin-left:75%;
}

.coupon {
    display: flex;
    color: pink;
    float: left;
    border-top: 60%;
    border-radius: 10px;
    box-shadow: 0 0 5px pink;
    background-color: #fff;
    padding: 5px 30px;
    margin-bottom: 20px;
}

.taxes{
    float: right;
}

.total{
    margin-left: 80%
}

.collect{
    background-color: pink;
    color: white;
    padding: 30px 10px;
    font-size: 20px;
    margin-left: 75%;
    border-radius: 5%;
    width: 20%;
    height: 20px;
    text-align: center;
}
.deliver{
    background-color: pink;
    color: white;
    padding: 30px 10px;
    font-size: 20px;
    margin-left: 75%;
    border-radius: 5%;
    width: 20%;
    height: 20px;
    text-align: center;
}
nav { 
    background-color: white;
    padding: 15px;
    float: right;

}
a {
    color: pink;
    transition: all 0.4s linear;
}

a:hover{
    color: deeppink;
}
.apply{
    border-radius: 10%;
    background-color: white;
    color: pink;
    transition: all 0.4s linear;
}

.apply:hover{
    color: deeppink;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color:pink;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: relative;
    bottom: 15px;
    width: 280px;
}

  /* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

  /* Add styles to the form container */
.form-container {
    float: left;
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

  /* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

  /* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

  /* Set a style for the submit/login button */
.form-container .btn {
    background-color:pink;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

  /* Add a red background color to the cancel button */
.form-container .cancel {
    background-color:deeppink;
}

  /* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.collect-button{
    background-color:pink;
    float: left;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: relative;
    margin-left: 35%;
    bottom: 15px;
    width: 280px;
}


.quantity{
    margin-left: 75%;
}

.check1{
    background-color:deeppink;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
* {font-family: Segoe UI;}
form ul, form ul li {list-style: none; margin: 0; padding: 0;}
form ul li strong, form ul li label {display: inline-block; width: 120px; padding: 3px;}
form ul li label {width: 75px;}